[Unit]
Description=OpenTimestamps server
After=bitcoind.service

[Service]
User=ots
Group=ots
ExecStartPre=/bin/bash /usr/local/bin/bitcoind-ready.sh
ExecStart=/home/ots/opentimestamps-server/otsd -v
Restart=on-failure
LimitNOFILE=4096

KillSignal=SIGINT

[Install]
WantedBy=multi-user.target
